.left__section>* {
  margin-bottom: 20px;
}


.left__section {
  max-width: 614px;
  width: 100%;
}


.right__section {
  max-width: 293px;
  width: 100%;
  top: 0px;
  margin-left:auto;
  position: sticky;
  /* right: calc(50% - 475px); */
  right:0;
  width: 100%;
  background: green;
  height: 100vh;

}

@media (max-width:900px) {
  .left__section {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width:901px) {
  .left__section {
    float: left
  }
}