.fixed__top {
    position: sticky;
    top: 0;
    z-index: 10;
}

.filter__list {
    background: white;

    /* height: 54px; */
    height: auto;
    padding: 10px;
    border-top: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
    /* margin: 10px; */
    /* border-radius: var(--border-radius); */
    /* max-height: 54px; */
}

.filter__item {
    background: white;
    /* border: solid 1px var(--border-color); */
    /* border-radius: 10px; */
    height: 54px;
    /* width: 54px; */
    font-size: smaller;
    cursor: pointer;
}

.filter__img {
    color: red;
    height: 40px;
}

.icon__name{

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}