.fixed__top {
    position: sticky;
    top: 0;
    z-index: 10;
}



.filter__list {
    background: var(--background-color);

    /* height: 54px; */
    height: auto;
    padding: 10px;
    /* border: solid 1px var(--border-color); */
    border-bottom: solid 1px var(--border-color);
    border-top: solid 1px var(--border-color);
    /* margin: 10px; */
    /* border-radius: var(--border-radius); */
    /* max-height: 54px; */
}


@media (min-width:600px) {
    .filter__list {
        border: solid 1px var(--border-color);
        /* border-radius: var(--border-radius); */
    }

}

.filter__item {
    background: white;
    border: solid 1px var(--border-color);
    border-radius: 10px;
    /* height: 54px; */
    min-width: 54px;
    padding:10px;
    font-size: smaller;
    cursor: pointer;

    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.active{
 /* background:rgb(233, 112, 5) !important; */
 color: rgb(233, 112, 5); 
}

.filter__img {
    color: white;
    height: 40px;
    margin-bottom:5px;
}

.icon__name {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}