.email__input {
    text-align: center;
    border: 1px solid #6C757D;
}

.email__input[type="number"] {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}

.email__input[type=number]::-webkit-inner-spin-button,
.email__input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.wrapper {
    border: 1px solid var(--border-color);
    /* box-shadow: var(--box-shadow); */
    width: 80px;
    height: 40px;
    overflow: hidden;
    display: flex;
    border-radius: 15px;
    background: white;
    justify-content: space-between;
    align-items: center;
}

.plusminus {

    width: 40%;
    background: white;
    border: none;
    height: 100%;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    color: #5f5fce;
    
}

/* .plusminus:hover{
    background:rgb(220, 220, 220) !important;

} */

.add {
    color: orange !important;
}

.num {
    height: 100%;
    width: 39%;
    border: none;
    font-size: 20px;
}